/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0;
    background:  linear-gradient(to bottom, #3e3e3e 0%,#303030 7%,#313131 17%,#000000 28%,#000000 39%,#000000 40%,#080808 46%,#323232 50%,#4d4d4d 61%,#6b6b6b 73%,#5e5e5e 91%,#515151 100%);
    border: none;
    border-radius: 0;
    margin-bottom: 2px;
    box-shadow: 1px 1px 3px rgba(158, 158, 158, 0.99);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #383838;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    font-size: 20px;
    width: 35px;
    height: 35px;
    /*line-height: 35px;*/
    padding: 10px;
    text-align: center;
    background: #0a0a0a;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: transparent;
    color: #a9a9a9;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .sidebar-header {
    padding: 10px;
    height: 60px;
    background: #000000;
}

#sidebar img{
    width: 80%;vertical-align: middle;
}

#sidebar ul.components {
    padding: 25px 2px 0px;
    border-bottom: 1px solid #9e9e9e;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul .active {   
    border-left: 3px solid #b71c1c;
}

#sidebar ul li a:hover {
    color: #9e9e9e;
    border-left: 3px solid #b71c1c;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #b71c1c;
    background: #383838;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #FAFAFA;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #7386D5;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


/*---------------------------------------------------
  MY STYLE
  -----------------------------------------*/

.navbar-header img {                
    left:50px;
    height: 60px;
    padding: 5px;
}
.navbar-header button{
    background-color: transparent;
}

#content{
    padding: 0px;
}

.btn-info{
     margin-right:5px;
     font-size: 25px;
     padding: 0;
}
        

#sidebarCollapse:hover,#sidebarCollapse:active,#sidebarCollapse:focus,#sidebarCollapse:active:hover{
     background-color: transparent;
     color: #a9a9a9;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
    margin-left: 0px;
    margin-right: 0px;
}

.dynamicwall img{
    width: 100%;
}

.img-custom img{
    width: 100%;
    height: 300px;
}
       
.carousel_custom .carousel{
    margin-bottom:40px;
    width: 100%;
    padding: 0;
}

.mainbtn{
    width: 100%;
}

/*---------------------------------------*/
.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left:-4px;
    margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius:0;
    border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius:4px;
    border-bottom-left-radius:0;
}

/*----------------------------------------*/
/* Add a dark background color to the footer */
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 15px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

/*-----------------------------------
麵包屑
------------------------------------*/
.mygroup{
    margin-bottom: 0;
}
.breadcrumb{
    background-color:#C6C6C6;
    margin-top:-2px;
    height: 25px;
    border-radius:0px;
    padding: 4px 54px;
}

.breadcrumb .active{
    color: #b71c1c;
}

.breadcrumb>li+li:before{
    color:#212121;
    content:">\00a0";
}


/*---------------------------------
快速訂票
-----------------------------------*/
.right-fastticket{
    position: fixed;top: 35%; right: 0; z-index: 10;
}

#right-fastticket{
    font-size: 1.2em;
}

#right-fastticket:first-child,#right-fastticket:last-child{             
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
#right-fastticket{
    writing-mode: vertical-lr;
    padding: 10px 10px;
    background:radial-gradient(ellipse at center, #fac695 0%,#f5ab66 47%,#ff8a33 100%);
    border:none;
}
#right-fastticket:hover{
    background: radial-gradient(ellipse at center, #f5f6f6 0%,#dbdce2 46%,#b8bac6 99%,#dddfe3 80%,#f5f6f6 100%);
    color:#b71c1c;       
}

/*-----------------------------------------
登入跳窗
------------------------------------------*/
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
        /* -webkit-user-select: none;
        user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}


.btn-circle {
  width: 30px;
  height: 30px;  
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/*---------------------------------
icon
---------------------------------*/
.fa{
    width: 20px;
    height: 20px;
}
